@font-face {
    font-family: 'myFont';
    src: url('myFont.otf')  format('opentype');
    font-weight: 600;
    font-size: normal;
}

.hello {
    color: red;
    font-family: 'myFont';
    /* background: url('./icon.png'); */
}